In [1]:
import pandas as pd

In [5]:
path = '/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Week 4/Mini project/Deliveroo_Netherlands.xlsx'

deliveroo_df = pd.read_excel(path)

deliveroo_df.head()

,Customer_ID,Order Dates,Restaurant,MealName,Addressa,State Code,Order Time,Delivery Temperature,Customer Subscription,lPrice in Euro,Total Quantity,Gender,Complaints,Desired Temperature,Tax_Sum,Refunded,TotalRevenue
0,Deliveroo_cid_nlh_9352,"Sunday, February 13, 2022",Dutch Dining,Mac and Cheese,Haarlemmermeer,NH,16:32:03,Normal,Premium,7.80,2,F,2,No,2.36,1.94,8.22
1,Deliveroo_cid_nlh_7457,"Saturday, February 19, 2022",Cheese Chalet,Chinotto,Utrecht,NH,13:30:59,Normal,Premium,11.37,2,F,2,No,7.89,9.46,9.80
2,Deliveroo_cid_nlh_1037,"Sunday, February 20, 2022",Netherlands Nosh,Ready-to-Eat Curry,Emmen,NH,22:57:10,Normal,Premium,12.14,2,F,3,No,5.06,0.00,17.20
3,Deliveroo_cid_nlh_3606,"Tuesday, February 22, 2022",Pancake Palace,Tonica,Arnhem,NH,11:41:55,Normal,Basic,9.29,2,F,3,Yes,2.48,0.00,11.77
4,Deliveroo_cid_nlh_6865,"Wednesday, February 23, 2022",Hague Harvest,Beef Broth,Sittard,NH,20:52:32,Normal,Basic,13.85,2,M,2,Yes,2.40,0.00,16.25

In [6]:
deliveroo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            10000 non-null  object
 1   Order Dates            10000 non-null  object
 2   Restaurant             10000 non-null  object
 3   MealName               10000 non-null  object
 4   Addressa               10000 non-null  object
 5   State Code             10000 non-null  object
 6   Order  Time            10000 non-null  object
 7   Delivery Temperature   10000 non-null  object
 8   Customer Subscription  10000 non-null  object
 9   lPrice in Euro         10000 non-null  float64
 10  Total Quantity         10000 non-null  int64
 11  Gender                 10000 non-null  object
 12  Complaints             10000 non-null  int64
 13  Desired Temperature    10000 non-null  object
 14  Tax_Sum                10000 non-null  float64
 15  Refunded               10000 non-null  float64
 16  TotalRevenue           10000 non-null  float64
dtypes: float64(4), int64(2), object(11)
memory usage: 1.3+ MB

In [8]:
deliveroo_df.nunique()

Customer_ID              6362
Order Dates               669
Restaurant                 45
MealName                  242
Addressa                   41
State Code                 12
Order  Time              9411
Delivery Temperature        4
Customer Subscription       2
lPrice in Euro           1276
Total Quantity              5
Gender                      2
Complaints                  4
Desired Temperature         2
Tax_Sum                   801
Refunded                  989
TotalRevenue             2235
dtype: int64

In [15]:
deliveroo_df["MealName"].value_counts()

MealName
Cedrata               182
Gelato Shake          121
Limoncino             113
Fernet-Branca         105
Sanbitt√®r             104
                     ...
Pasta Carbonara        21
Croissant              21
Smoothie Mix           20
Ready-to-Eat Salad     19
Latte                  19
Name: count, Length: 242, dtype: int64

In [16]:
deliveroo_df.isnull().sum()

Customer_ID              0
Order Dates              0
Restaurant               0
MealName                 0
Addressa                 0
State Code               0
Order  Time              0
Delivery Temperature     0
Customer Subscription    0
lPrice in Euro           0
Total Quantity           0
Gender                   0
Complaints               0
Desired Temperature      0
Tax_Sum                  0
Refunded                 0
TotalRevenue             0
dtype: int64

In [18]:
deliveroo_df.duplicated().sum()

0

In [22]:
deliveroo_df['Refunded'].value_counts()

Refunded
0.00     8008
2.59        7
6.77        7
11.98       7
11.12       7
         ...
1.25        1
11.57       1
8.68        1
3.44        1
2.03        1
Name: count, Length: 989, dtype: int64

In [23]:
deliveroo_df['Complaints'].value_counts()

Complaints
0    2515
3    2513
1    2492
2    2480
Name: count, dtype: int64