In [52]:
import pandas as pd

In [53]:
path = '/Users/tomamely/Desktop/Deliveroo_Netherlands.xlsx'

deliveroo_df = pd.read_excel(path)

deliveroo_df.head()

,Customer_ID,Order Dates,Restaurant,MealName,Addressa,State Code,Order Time,Delivery Temperature,Customer Subscription,lPrice in Euro,Total Quantity,Gender,Complaints,Desired Temperature,Tax_Sum,Refunded,TotalRevenue
0,Deliveroo_cid_nlh_9352,"Sunday, February 13, 2022",Dutch Dining,Mac and Cheese,Haarlemmermeer,NH,16:32:03,Normal,Premium,7.80,2,F,2,No,2.36,1.94,8.22
1,Deliveroo_cid_nlh_7457,"Saturday, February 19, 2022",Cheese Chalet,Chinotto,Utrecht,NH,13:30:59,Normal,Premium,11.37,2,F,2,No,7.89,9.46,9.80
2,Deliveroo_cid_nlh_1037,"Sunday, February 20, 2022",Netherlands Nosh,Ready-to-Eat Curry,Emmen,NH,22:57:10,Normal,Premium,12.14,2,F,3,No,5.06,0.00,17.20
3,Deliveroo_cid_nlh_3606,"Tuesday, February 22, 2022",Pancake Palace,Tonica,Arnhem,NH,11:41:55,Normal,Basic,9.29,2,F,3,Yes,2.48,0.00,11.77
4,Deliveroo_cid_nlh_6865,"Wednesday, February 23, 2022",Hague Harvest,Beef Broth,Sittard,NH,20:52:32,Normal,Basic,13.85,2,M,2,Yes,2.40,0.00,16.25

In [54]:
deliveroo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            10000 non-null  object
 1   Order Dates            10000 non-null  object
 2   Restaurant             10000 non-null  object
 3   MealName               10000 non-null  object
 4   Addressa               10000 non-null  object
 5   State Code             10000 non-null  object
 6   Order  Time            10000 non-null  object
 7   Delivery Temperature   10000 non-null  object
 8   Customer Subscription  10000 non-null  object
 9   lPrice in Euro         10000 non-null  float64
 10  Total Quantity         10000 non-null  int64
 11  Gender                 10000 non-null  object
 12  Complaints             10000 non-null  int64
 13  Desired Temperature    10000 non-null  object
 14  Tax_Sum                10000 non-null  float64
 15  Refunded               10000 non-null  float64
 16  TotalRevenue           10000 non-null  float64
dtypes: float64(4), int64(2), object(11)
memory usage: 1.3+ MB

In [55]:
deliveroo_df.nunique()

Customer_ID              6362
Order Dates               669
Restaurant                 45
MealName                  242
Addressa                   41
State Code                 12
Order  Time              9411
Delivery Temperature        4
Customer Subscription       2
lPrice in Euro           1276
Total Quantity              5
Gender                      2
Complaints                  4
Desired Temperature         2
Tax_Sum                   801
Refunded                  989
TotalRevenue             2235
dtype: int64

In [56]:
deliveroo_df["MealName"].value_counts()

MealName
Cedrata               182
Gelato Shake          121
Limoncino             113
Fernet-Branca         105
Sanbittèr             104
                     ...
Pasta Carbonara        21
Croissant              21
Smoothie Mix           20
Ready-to-Eat Salad     19
Latte                  19
Name: count, Length: 242, dtype: int64

In [57]:
deliveroo_df.isnull().sum()

Customer_ID              0
Order Dates              0
Restaurant               0
MealName                 0
Addressa                 0
State Code               0
Order  Time              0
Delivery Temperature     0
Customer Subscription    0
lPrice in Euro           0
Total Quantity           0
Gender                   0
Complaints               0
Desired Temperature      0
Tax_Sum                  0
Refunded                 0
TotalRevenue             0
dtype: int64

In [58]:
deliveroo_df.duplicated().sum()

np.int64(0)

In [59]:
deliveroo_df['Refunded'].value_counts()

Refunded
0.00     8008
2.59        7
6.77        7
11.98       7
11.12       7
         ...
1.25        1
11.57       1
8.68        1
3.44        1
2.03        1
Name: count, Length: 989, dtype: int64

In [60]:
deliveroo_df['Complaints'].value_counts()

Complaints
0    2515
3    2513
1    2492
2    2480
Name: count, dtype: int64

In [61]:
deliveroo_df.head()

,Customer_ID,Order Dates,Restaurant,MealName,Addressa,State Code,Order Time,Delivery Temperature,Customer Subscription,lPrice in Euro,Total Quantity,Gender,Complaints,Desired Temperature,Tax_Sum,Refunded,TotalRevenue
0,Deliveroo_cid_nlh_9352,"Sunday, February 13, 2022",Dutch Dining,Mac and Cheese,Haarlemmermeer,NH,16:32:03,Normal,Premium,7.80,2,F,2,No,2.36,1.94,8.22
1,Deliveroo_cid_nlh_7457,"Saturday, February 19, 2022",Cheese Chalet,Chinotto,Utrecht,NH,13:30:59,Normal,Premium,11.37,2,F,2,No,7.89,9.46,9.80
2,Deliveroo_cid_nlh_1037,"Sunday, February 20, 2022",Netherlands Nosh,Ready-to-Eat Curry,Emmen,NH,22:57:10,Normal,Premium,12.14,2,F,3,No,5.06,0.00,17.20
3,Deliveroo_cid_nlh_3606,"Tuesday, February 22, 2022",Pancake Palace,Tonica,Arnhem,NH,11:41:55,Normal,Basic,9.29,2,F,3,Yes,2.48,0.00,11.77
4,Deliveroo_cid_nlh_6865,"Wednesday, February 23, 2022",Hague Harvest,Beef Broth,Sittard,NH,20:52:32,Normal,Basic,13.85,2,M,2,Yes,2.40,0.00,16.25

In [62]:
def clean_column_names(df):
    df.columns = (
        df.columns
        .str.strip()
        .str.replace(r'[^\w\s]', '', regex=True)
        .str.replace(r'\s+', '_', regex=True)
        .str.lower()
    )

    df = df.rename(columns={
        'mealname': 'meal_name',
        'addressa': 'address',
        'lprice_in_euro': 'price_in_euro',
        'totalrevenue': 'total_revenue'
    })

    return df


deliveroo_df = clean_column_names(deliveroo_df)


print(deliveroo_df.columns)

Index(['customer_id', 'order_dates', 'restaurant', 'meal_name', 'address',
       'state_code', 'order_time', 'delivery_temperature',
       'customer_subscription', 'price_in_euro', 'total_quantity', 'gender',
       'complaints', 'desired_temperature', 'tax_sum', 'refunded',
       'total_revenue'],
      dtype='object')

In [63]:
df = clean_column_names(deliveroo_df)
df.head()

,customer_id,order_dates,restaurant,meal_name,address,state_code,order_time,delivery_temperature,customer_subscription,price_in_euro,total_quantity,gender,complaints,desired_temperature,tax_sum,refunded,total_revenue
0,Deliveroo_cid_nlh_9352,"Sunday, February 13, 2022",Dutch Dining,Mac and Cheese,Haarlemmermeer,NH,16:32:03,Normal,Premium,7.80,2,F,2,No,2.36,1.94,8.22
1,Deliveroo_cid_nlh_7457,"Saturday, February 19, 2022",Cheese Chalet,Chinotto,Utrecht,NH,13:30:59,Normal,Premium,11.37,2,F,2,No,7.89,9.46,9.80
2,Deliveroo_cid_nlh_1037,"Sunday, February 20, 2022",Netherlands Nosh,Ready-to-Eat Curry,Emmen,NH,22:57:10,Normal,Premium,12.14,2,F,3,No,5.06,0.00,17.20
3,Deliveroo_cid_nlh_3606,"Tuesday, February 22, 2022",Pancake Palace,Tonica,Arnhem,NH,11:41:55,Normal,Basic,9.29,2,F,3,Yes,2.48,0.00,11.77
4,Deliveroo_cid_nlh_6865,"Wednesday, February 23, 2022",Hague Harvest,Beef Broth,Sittard,NH,20:52:32,Normal,Basic,13.85,2,M,2,Yes,2.40,0.00,16.25

In [ ]:
import pandas as pd


deliveroo_df['parsed_date'] = pd.to_datetime(deliveroo_df['order_dates'])


deliveroo_df['weekday'] = deliveroo_df['parsed_date'].dt.day_name()
deliveroo_df['date'] = deliveroo_df['parsed_date'].dt.strftime('%d-%m-%Y')


deliveroo_df.drop(columns=['order_dates', 'parsed_date'], inplace=True)

In [65]:
df = clean_column_names(deliveroo_df)
df.head()

,customer_id,restaurant,meal_name,address,state_code,order_time,delivery_temperature,customer_subscription,price_in_euro,total_quantity,gender,complaints,desired_temperature,tax_sum,refunded,total_revenue,weekday,date
0,Deliveroo_cid_nlh_9352,Dutch Dining,Mac and Cheese,Haarlemmermeer,NH,16:32:03,Normal,Premium,7.80,2,F,2,No,2.36,1.94,8.22,Sunday,13-02-2022
1,Deliveroo_cid_nlh_7457,Cheese Chalet,Chinotto,Utrecht,NH,13:30:59,Normal,Premium,11.37,2,F,2,No,7.89,9.46,9.80,Saturday,19-02-2022
2,Deliveroo_cid_nlh_1037,Netherlands Nosh,Ready-to-Eat Curry,Emmen,NH,22:57:10,Normal,Premium,12.14,2,F,3,No,5.06,0.00,17.20,Sunday,20-02-2022
3,Deliveroo_cid_nlh_3606,Pancake Palace,Tonica,Arnhem,NH,11:41:55,Normal,Basic,9.29,2,F,3,Yes,2.48,0.00,11.77,Tuesday,22-02-2022
4,Deliveroo_cid_nlh_6865,Hague Harvest,Beef Broth,Sittard,NH,20:52:32,Normal,Basic,13.85,2,M,2,Yes,2.40,0.00,16.25,Wednesday,23-02-2022